<!-- This page is used to confirm that the user wants to delete their account. -->
<!doctype html>
<html lang="en">
<head>
    <title>Delete Your Account</title>
    <!-- Linking my CSS -->
    <link rel="stylesheet" type="text/css" href="main.css" />
</head>
<body>
    <h1>Delete Your Account on <%= forumName %></h1>
    <p>Are you sure you want to delete your account? This action cannot be undone.</p>
    <a href="/deleteAccount">Confirm Account Deletion</a>
    <br>
    <!-- Link to the homepage -->
    <a href="/">Cancel and return to Home</a>
</body>
</html>
