<!-- This is the page that is rendered when a user joins a topic. -->
<!doctype html>
<html lang="en">
<head>
    <title>Joined Topic</title>
    <!-- Linking my CSS -->
    <link rel="stylesheet" type="text/css" href="main.css" />
</head>
<body>
    <h1>Joined Topic Successfully!</h1>
    <p>You have successfully joined the topic: <%= topicName %>.</p>
    <!-- Link to the homepage -->
    <a href="/">Go back to the homepage</a>
</body>
</html>
