<!-- This is the page for when the user logs in successfully -->
<!doctype html>
<html lang="en">
    <head>
        <title>Logged In!</title>
        <!-- Linking my CSS -->
        <link rel="stylesheet"  type="text/css" href="main.css" />
    </head>
    <body>
        <h1> You have been logged into  <span class="forum-name"><%= forumName %></span></h1>
        <!-- Link to the homepage -->
        <div class="return-home">
            <a href="/">Return Home</a>
        </div>
    </body>
</html>

