<!-- This page is used to search for posts by title or content. -->
<!doctype html>
<html lang="en">
<head>
    <title>Search Posts</title>
    <!-- Linking my CSS -->
    <link rel="stylesheet" type="text/css" href="main.css" />
</head>
<body>
    <h1>Search Posts</h1>
    <!-- This is the form that allows the user to search for posts. -->
    <form method="GET" action="/searchPosts">
        <label for="searchQuery">Search:</label>
        <input type="text" id="searchQuery" name="searchQuery" required>
        <input type="submit" value="Search">
    </form>
    <!-- This is the code that displays the posts that the user has searched for. -->
    <% if (posts) { %>
        <% if (posts.length === 0) { %>
            <p>No posts found.</p>
        <% } else { %>
            <ul>
                <% posts.forEach(function(post) { %>
                    <li>
                        <strong><%= post.title %></strong> - <%= post.content %>
                        <br>Posted by: <%= post.username %>
                    </li>
                <% }); %>
            </ul>
        <% } %>
    <% } %>
    <!-- Link to the homepage -->
    <div class="return-home">
        <a href="/">Return Home</a>
    </div>
</body>
</html>
