<!-- This is the page if the user enters a wrong username/password! -->
<!doctype html>
<html lang="en">
    <head>
        <title>Wrong username or Password!</title>
        <!-- Linking my CSS -->
        <link rel="stylesheet"  type="text/css" href="main.css" />
    </head>
    <body>
        <h1>Oops! Wrong username or password for <a href="/"><%=forumName%></a></h1>
        <p>If you want to try again,  click on the <a href="/login">Login Page</a> or if you want to sign up, go to the
            <a href="/register">Register Page</a>.
        </p>
    </body>
</html>

